.vs
.git
bin
obj
.csproj
*.user
Backup
packages
obj/Debug
obj/Debug/Workbase.dll
obj
*.cache
obj/Debug/Workbase.csproj.FileListAbsolute.txt
obj/Debug/Workbase.csprojAssemblyReference.cache
obj/Debug/Workbase.dll
obj/Debug/Workbase.pdb
Areas
files
Publish
debug.log
packages
App_Data
