.edit-icon .fa {
    font-size: 16px;
}

.line-title {
    border-bottom: 1px solid #1ab394;
    padding-bottom: 5px;
}

.field-group {
    position: relative;
    margin-top: 0.5rem;
    cursor: pointer;
}

.field-group:hover .edit-field {
    opacity: 1
}

.edit-field {
    opacity: 0;
    position:absolute;
    right:1rem;
    top:0;
}

.field-group .btn-white {
    border-color: rgba(0,0,0,.3);
}

.edit-panel {
    top: 0;
    left: 0;
    z-index: 3;
    position: relative
}
.vertical-timeline-content .btn-actions .btn{
    float:none;
}
.input-type.form-control {
    border-top: #ffff;
    border-left: #ffff;
    border-right: #fff;
    height: 25px;
    font-size: 13px;
}
select.form-control.input-type:not([size]):not([multiple]) {
    height: 25px;
    padding: 0px 10px;
}
.clt-name .btn {
    padding: 0px 5px;
}
.clt-name .input-group .input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 25px;
}
.clt-name .input-group .input-group-addon {
    border-top: #ffff;
    border-left: #ffff;
    border-right: #fff;
    font-size: 12px;
    padding: 5px 2px 2px 2px;
    line-height: 1;
    border-bottom: 1px solid #e5e6e7;
}
.clt-name .input-group .input-group-addon:focus {
    border-color: #1ab394;
}
